@{
    ViewData["Title"] = "Qui sommes-nous ?";
}

<div class="text-center">
    <h1 class="display-4">Qui sommes nous ?</h1>
    <p>Ce site a été réalisé par <strong>Paul BERNARD</strong> et <strong>François Domecq</strong>
        dans le cadre du projet Glog de 2A à l'ENSC.
    </p>
</div>

