@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Ensciens</h1>
    <p>Le merveilleux réseau social des élèves de l'ENSC !</p>

    <a 
        class="btn-primary" 
        asp-area="" 
        asp-controller="Publication"
        asp-action="Index"
    >
        Voir le fil d'actualité
    </a>
</div>

